<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field form-group">
    <%= form.text_field :currency, class:"form-control", placeholder:"Currency" %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :price, class:"form-control", placeholder:"Price" %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :sale, class:"form-control", placeholder:"Sale" %>
  </div>
  <br/>

  <div class="actions">
  <br/>
    <%= form.submit class:'btn btn-success' %>
  </div>
<% end %>
