<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Currency</th>
      <th>Name</th>
      <th>Price</th>
      <th>Sale</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.currency %></td>
        <td><%= order.name %></td>
        <td><%= order.price %></td>
        <td><%= order.sale %></td>
        <td><%= order.category %></td>
        <td><%= link_to "<button type='button' class='btn btn-primary'>Show</button>".html_safe, order %></td>
        <td><%= link_to "<button type='button' class='btn btn-warning'>Edit</button>".html_safe, edit_order_path(order) %></td>
        <td><%= link_to "<button type='button' class='btn btn-danger'>Destroy</button>".html_safe, order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<button type='button' class='btn btn-secondary'>New Order</button>".html_safe, new_order_path %>
