<h1>Order Page</h1>

<table class="table table-striped">
  <tbody>
    <tr>
      <br/>
      <td><strong>Currency:</strong></td>
      <td><%= @order.currency %></td>
    </tr>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <td><strong>Price:</strong></td>
      <td><%= @order.price %></td>
    </tr>
    <tr>
      <td><strong>Sale:</strong></td>
      <td><%= @order.sale %></td>
    </tr>
    <tr>
      <td><strong>Category:</strong></td>
      <td><%= @order.category.category %></td>
    </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_order_path(@order), class:"btn btn-warning" %> |
<%= link_to 'Back', orders_path, class:"btn btn-primary" %>
